<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0078-389845d5-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{96,80}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{96,80}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{94,74}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{94,74}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{98,86}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{98,86}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{104,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{104,82}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{110,84}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{110,84}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{98,80}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{98,80}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{102,76}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{102,76}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{98,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{98,84}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{104,84}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{104,84}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{106,84}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{106,84}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{96,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{94,88}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{94,88}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{98,82}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{98,82}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{104,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{104,106}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,112}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{110,112}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{98,104}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{102,88}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{102,88}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{98,86}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{98,86}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{104,106}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{104,106}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>0078-389845d5-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{106,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{106,116}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster2_run.png</string>
            <key>size</key>
            <string>{114,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dabb4fd2306d534986f20e7d482896e5:543193f2b6c1e294bcd0a1df13d53076:64229113bf50847e7e27a5c5d2497a31$</string>
            <key>textureFileName</key>
            <string>monster2_run.png</string>
        </dict>
    </dict>
</plist>
