<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0061-2a44e34d-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,94},{90,82}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,43},{90,82}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{90,82}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,46},{90,82}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,94},{86,82}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,35},{86,82}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,96},{80,92}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,21},{80,92}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,100},{78,96}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,11},{78,96}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{88,100}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,7},{88,100}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{90,106}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,1},{90,106}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{102,94}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,13},{102,94}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,114},{108,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,25},{108,96}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{118,84}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{118,84}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{136,92}}</string>
                <key>offset</key>
                <string>{31,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,46},{136,92}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,2},{84,78}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,45},{84,78}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,88},{84,78}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,47},{84,78}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,2},{80,84}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,36},{80,84}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{80,92}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,22},{80,92}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{78,94}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,13},{78,94}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,106},{90,100}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,7},{90,100}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,108},{96,102}}</string>
                <key>offset</key>
                <string>{19,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,5},{96,102}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,104},{94,96}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,11},{94,96}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,132},{98,102}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,21},{98,102}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{110,82}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,43},{110,82}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{128,96}}</string>
                <key>offset</key>
                <string>{-25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,46},{128,96}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,98},{90,92}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,29},{90,92}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,96},{90,90}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,31},{90,90}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{86,96}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,25},{86,96}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{80,102}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,19},{80,102}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{78,100}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,20},{78,100}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,110},{88,104}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,18},{88,104}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,140},{90,110}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,16},{90,110}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,122},{102,108}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{102,108}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,122},{108,110}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{108,110}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{118,88}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,33},{118,88}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-02010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,102}}</string>
                <key>offset</key>
                <string>{-31,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,24},{136,102}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{84,92}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,29},{84,92}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,2},{84,90}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,31},{84,90}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,104},{80,100}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,21},{80,100}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{80,104}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,17},{80,104}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{78,104}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,17},{78,104}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,106},{90,102}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{90,102}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{96,110}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,16},{96,110}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03007.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,114},{94,110}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,10},{94,110}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,132},{98,106}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,14},{98,106}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{110,90}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,31},{110,90}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
            <key>0061-2a44e34d-03010.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{128,102}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,20},{128,102}}</string>
                <key>sourceSize</key>
                <string>{226,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster2_attack.png</string>
            <key>size</key>
            <string>{2030,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ad8172a210f694b5f78857ff92886f:3d2f8ec4ba7154bf705d6596182a868f:62ec6de412dc001207010f46bd448fba$</string>
            <key>textureFileName</key>
            <string>monster2_attack.png</string>
        </dict>
    </dict>
</plist>
