<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2314-f44c3fde-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,82},{51,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{51,74}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,162},{47,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{47,76}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,174},{59,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{59,76}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,188},{63,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{63,80}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,186},{65,78}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{65,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,166},{57,78}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{57,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{55,80}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{55,80}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,174},{49,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{49,76}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,178},{59,80}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{59,80}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,86},{51,82}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{51,82}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{45,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{45,82}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{47,78}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{47,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,174},{55,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{55,76}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{53,78}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{53,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,2},{51,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{51,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,170},{57,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{57,80}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{51,90}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{51,90}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,88},{47,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{47,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{59,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{59,86}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,96},{63,90}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,90}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{65,92}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,92}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,90},{57,86}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{57,86}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{55,86}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{55,86}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,94},{49,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{59,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{59,92}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{51,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{51,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{45,86}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{45,86}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,92},{47,88}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{47,88}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{55,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{55,88}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{53,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{53,80}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{51,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{51,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-03007.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{57,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{57,88}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-04000.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,174},{51,76}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{51,76}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{55,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{55,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,164},{53,78}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{53,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,82},{41,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{41,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-04004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,211},{39,76}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{39,76}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-04005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,162},{43,78}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{43,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-04006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,82},{53,78}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{53,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-04007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,84},{57,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{57,78}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-05000.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,90},{57,84}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{49,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{49,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,90},{53,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{53,86}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,92},{61,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{61,86}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,180},{67,82}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{67,82}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,168},{55,80}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{55,80}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,88},{53,84}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{53,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-05007.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{53,84}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{53,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-06000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{51,94}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{55,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{55,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{53,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{53,86}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{41,88}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{41,88}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{39,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{39,92}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,88},{43,84}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{43,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,88},{53,84}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{53,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-06007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,92},{57,88}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{57,88}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-07000.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,86},{57,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{57,80}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-07001.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,174},{49,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{49,76}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-07002.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,88},{51,84}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{51,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-07003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,178},{59,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{59,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-07004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,182},{67,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{67,84}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-07005.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,84},{55,80}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{55,80}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-07006.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{53,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{53,82}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>2314-f44c3fde-07007.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,90},{53,86}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{53,86}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{1225,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d023c5b444e417accf3735a61b468e9b:2192d09915969edef1e29418d3c11e21:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
