<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1700-af8399b0-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{56,86}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{54,86}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{54,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{50,86}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{50,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{52,86}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{52,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{50,86}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{50,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{50,86}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{50,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{50,86}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{50,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{44,90}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{44,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{42,90}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{42,90}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,94},{42,90}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{44,90}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{44,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{44,90}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{44,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{40,90}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{40,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{58,88}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{58,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{54,86}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{54,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2},{50,82}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{50,82}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{52,80}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{52,80}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,84},{50,78}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{50,78}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{50,78}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{50,78}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,86},{50,82}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{50,82}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,92},{44,88}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{44,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,90},{42,86}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{42,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,90},{42,86}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{42,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,90},{42,86}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{42,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,92},{44,86}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{44,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,92},{44,86}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{44,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{40,86}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{40,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-04000.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{40,88}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{40,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,94},{42,88}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,94},{42,88}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{44,88}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{44,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-04004.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{44,88}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{44,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-04005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,94},{42,88}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-04006.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,94},{42,88}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{42,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-05000.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{68,86}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{62,84}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{62,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{52,84}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{52,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{54,84}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{54,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{58,84}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{58,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,2},{60,84}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{60,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{58,84}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{58,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-06000.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{40,88}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{40,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,90},{42,86}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{42,86}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,88},{42,84}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{42,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,90},{44,84}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{44,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,90},{44,80}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{44,80}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,88},{42,78}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{42,78}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,88},{42,84}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{42,84}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-07000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,90}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{68,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-07001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{62,90}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-07002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{52,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{52,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-07003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{54,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{54,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-07004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{58,90}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{58,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-07005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{60,90}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{60,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>1700-af8399b0-07006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{58,90}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{58,90}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stop.png</string>
            <key>size</key>
            <string>{1912,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f56aff2dc931ebc79e277b3834d9f87e:6c96c056e48ef2546d5516ab15bccb3f:c6a0dcebe98fa441c01556d2a2fb2c7b$</string>
            <key>textureFileName</key>
            <string>stop.png</string>
        </dict>
    </dict>
</plist>
