<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0012-494dc152-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,673},{52,33}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{52,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,982},{56,35}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{56,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1089},{58,37}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{58,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,634},{52,37}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{52,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{64,41}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{64,41}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{68,43}}</string>
                <key>offset</key>
                <string>{-24,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{68,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,564},{68,47}}</string>
                <key>offset</key>
                <string>{-24,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{68,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{70,47}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{70,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,322},{46,29}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,26},{46,29}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,450},{50,37}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,19},{50,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,869},{54,39}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,17},{54,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1128},{58,37}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{58,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1204},{60,39}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,17},{60,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{62,43}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,13},{62,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{66,43}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{66,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{70,51}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{70,51}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1316},{44,35}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{44,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,947},{54,33}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{54,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,910},{54,35}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{54,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1167},{58,35}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{58,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,353},{54,45}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{54,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{68,47}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{68,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{66,43}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{66,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{70,47}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,40},{70,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,529},{48,33}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{48,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,409},{50,39}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{50,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,826},{54,41}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{54,41}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1019},{56,35}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{56,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1193},{60,41}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{60,41}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{62,43}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{62,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{64,53}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,41},{64,53}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-03007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{68,55}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,42},{68,55}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-04000.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1321},{34,35}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{34,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,216},{36,43}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{36,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,786},{38,45}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,12},{38,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{32,45}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{32,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-04004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,750},{34,47}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{34,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-04005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,708},{40,51}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,6},{40,51}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-04006.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1245},{42,53}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,4},{42,53}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-04007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{38,57}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{38,57}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-05000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1056},{56,31}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{56,31}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{66,33}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{66,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{70,35}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{70,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{70,37}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{70,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{74,43}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{74,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{84,43}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{84,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,45}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{88,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-05007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{84,41}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{84,41}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-06000.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1289},{30,39}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{30,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{28,45}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{28,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,167},{36,47}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{36,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,489},{38,49}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,38},{38,49}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,114},{36,51}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,39},{36,51}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{38,53}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{38,53}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,261},{40,59}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{40,59}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-06007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,49},{36,63}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,38},{36,63}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-07000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{62,27}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{62,27}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-07001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{68,35}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{68,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-07002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{66,39}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{66,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-07003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{68,33}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{68,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-07004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{80,33}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{80,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-07005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{84,39}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{84,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-07006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{78,49}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{78,49}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>0012-494dc152-07007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{84,49}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{84,49}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon.png</string>
            <key>size</key>
            <string>{126,1363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ace7377221d66f74da52a6da6b4fe6e6:eed61ef8b6d22a7f253849bde3fb1f94:f56027bfb88798a33d33ff61c031c331$</string>
            <key>textureFileName</key>
            <string>weapon.png</string>
        </dict>
    </dict>
</plist>
